<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>565372838119-plkgfsbimigame216db7vpd3uslvqh66.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.565372838119-plkgfsbimigame216db7vpd3uslvqh66</string>
	<key>API_KEY</key>
	<string>AIzaSyALDJNcU5xCecdxKOA__NBcmmdACcb5iRg</string>
	<key>GCM_SENDER_ID</key>
	<string>565372838119</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.nosimportas</string>
	<key>PROJECT_ID</key>
	<string>nos-importas</string>
	<key>STORAGE_BUCKET</key>
	<string>nos-importas.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:565372838119:ios:dbac4fe8e074343abdc242</string>
</dict>
</plist>